<!DOCTYPE html>
<html>

<head>
    <title>Student Sign In</title>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <div id="app">


        <!-- TODO show errors from form validation -->
        <div class="alert alert-danger" v-show="errors.length > 0">
            <ul>
                <!-- v-bind:key="error added so that when something in a list changes, Vue can identify exactly which piece of HTML needs to change, and only change that" -->
                <!-- Helps Vue be more efficient, essentially. If there was a lot of rows it would be laggy without -->
                <li v-for="error in errors" v-bind:key="error">
                    {{ error }}
                </li>
            </ul>
        </div>


        <div class="card add-student m-2 p-2">
            <h4 class="card-title">Add new student</h4>

            <div class="form-group">
                <label for="name">Name</label>
                <!-- TODO v-model newStudentName -->
                <input id="name" class="form-control" v-model.trim="newStudentName">
            </div>
            <div class="form-group">
                <label for="starID">Star ID</label>
                <!-- TODO v-model newStarID -->
                <input id="starID" class="form-control" v-model.trim="newStarID">
            </div>
            <!-- TODO v-on:click event handler -->
            <button class="btn btn-primary" v-on:click="addStudents" >Add</button>
        </div>

        <div class="card student-list m-2 p-2">
            <h4 class="card-title">Student List</h4>
            <div id="student-table">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>StarID</th>
                        <th>Present?</th>
                    </tr>

                   <!-- TODO create table rows 
                   Each row will have a checkbox, bound to the app's data 
                   When the checkbox is checked/unchecked, the student will be signed in/out -->
                   <tr v-for="student in students" v-bind:key="student.starID" v-bind:class="{ present: student.present, absent: !student.present }"> 
                       <!-- Another way to do this is using a ternary operator ...v-bind:class=" student.present ? 'present' : 'absent' " -->
                       <!-- v-bind directive. Bind the class attribute of the HTML element. Value here will be an object. In dev tools you'll see class being added to the student clicked in the tr  -->
                       <!-- v-bind will be seen the same if written as :key="student.starID" :class="{ present: student.present, absent: !student.present } -->
                       <td>{{ student.name }}</td>
                       <td>{{ student.starID }}</td>
                       <td>
                           <!-- v-on  shortcut can be replaced with an @ for example @:change="arrivedOrLeft(student)" -->
                           <input type="checkbox" v-model="student.present" v-on:change="arrivedOrLeft(student)">
                       </td>
                   </tr>

                </table>
            </div>
        </div>


        <!-- TODO show a message when student arrives or leaves  -->
        <div v-show="mostRecentStudent.name">
            <div v-if="mostRecentStudent.present" class="alert alert-success">
                Welcome, {{mostRecentStudent.name}}
            </div>
            <div v-else class="alert alert-info">
                Goodbye, {{mostRecentStudent.name}}. See you later!
            </div>
        </div>


    </div>

    <script>


        // TODO Vue app
        let app = new Vue ({
            el: '#app', // CSS selector, selects the div above of app
            data: {
                newStudentName: '',
                newStarID: '',
                students: [
                    { name: 'A Student', starID: 'aa1234aa', present: false},
                    { name: 'B Student', starID: 'bb1234bb', present: false}
                ],
                errors: [],
                mostRecentStudent:[]
            },
            methods: {
                addStudents() {
                    
                    // removes white space at the beginning and end so that user 
                    // can't just add spaces. However we can just have vue do this
                    //  for us up above

                    // this.newStudentName = this.newStudentName.trim() 
                    // this.newStarID = this.newStarID.trim()

                    this.errors = []

                    if (!this.newStudentName) {
                        this.errors.push('Student name is required')
                    }

                    if (!this.newStarID) { // If there is no new star id
                        this.errors.push('StarId is required')
                    }

                    if (this.errors.length == 0) {
                        let student = { 
                            name: this.newStudentName, 
                            starID: this.newStarID,
                            present: false
                            }

                            this.students.push(student)

                            this.students.sort( function( student1, student2) {
                                // Return 1 if student1 should be after student2 
                                // Return -1 if student1 should be before student2
                                // In JS, one string is greater than another string if it is
                                // after it, alphabetically. SO 'z' > 'a'
                                
                                // if (student1.name.toUpperCase() > student2.name.toUpperCase()) {
                                //     return 1
                                // } else {
                                //     return -1
                                // }

                                // or

                                return student1.name.toUpperCase() > student2.name.toUpperCase() ? 1 : -1
                                // this is called a "ternary operator" returns 1 if true and -1 if false

                            }) 

                            this.newStudentName = '' // form is being cleared when student is added
                            this.newStarID = ''
                    }

                }, 
                arrivedOrLeft(student) {
                    this.mostRecentStudent = student
                }
            }
        })



    </script>

</body>

</html>


                
