<!DOCTYPE html>
<html>

<head>
    <title>Practice Tracker</title>
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>

<body>
    <div id="app">

        <!-- TODO display the name of the activity -->
        <h1 class="text-center">{{ activity }} Time Tracker</h1>

        <div id="add-hours" class="card">

            <h2 class="card-header">Add Records</h2>
            <div class="card-body">
               
                <!-- TODO use v-show to show this if there are validation errors -->
                <div class="alert alert-danger" v-show="errors.length > 0">
                    <!-- TODO show a list of validation errors from form -->
                    <li v-for="error in errors">{{ error }}</li>
                </div>

                <div class="form-group">
                    <!-- TODO display name of activity in the label -->
                    <!-- TODO use a filter to display the name of activity in lowercase -->
                    <label class="form-label" for="date">What date did you {{ activity | lowercase }}? <!-- TODO activity name, in lowercase --> </label>
                    <!-- TODO use v-model to connect this input to dateString data -->
                    <input id="date" class="form-control" type="date" v-model="dateString">
                    <small id="date-help" class="form-text text-muted">
                        Date must be today or in the past.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="hours">How many hours did you practice for?</label>
                    <!-- TODO use v-model to connect this input to hours data -->
                    <input id="hours" class="form-control" type="number" min="0" max="24" v-model.number="hours">
                    <!-- v-model.number converts strings into numbers -->
                    <small id="hours-help" class="form-text text-muted">
                        Enter a number of hours, more than 0, up to a maximum of 24
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-label" for="type">What type?</label>
                    <!-- TODO Create select element, use v-model to connect to the types -->
                    <select class="form-control" v-model="type">
                        <!-- TODO Use v-for to create option elements, one for each type -->
                        <option v-for="type in types">{{ type }}</option>
                    </select>
                </div>

                <div class="form-label pb-2">
                    What media?
                </div>

                <div class="form-check-inline">
                    <!-- TODO v-model and v-bind media -->
                    <!-- Set the value of the radio button with v-bind, v-model all the radio buttons you want to work together first -->
                    <input id="media1" class="form-check-input" type="radio" v-bind:value="media.traditional" v-model="medium">
                    <label class="form-check-label" for="media1">  {{ media.traditional }} <!--TODO Display text -->  </label>
                </div>

                <div class="form-check-inline">
                    <!-- TODO v-model and v-bind media -->
                    <input id="media2" class="form-check-input" type="radio" v-bind:value="media.digital" v-model="medium">
                    <label class="form-check-label" for="media2">  {{ media.digital }} <!-- TODO Display text -->  </label>
                </div>

                <div class="form-group">
                    <input id="completed" type="checkbox" v-model="complete">
                    <label class="form-label" for="completed">Completed?</label>
                </div>

                <div class="form-group">
                    <label class="form-label" for="noteInput">Notes:</label>
                    <textarea id="noteInput" class="form-control" v-model="note"></textarea>
                </div>

                <div>
                    <!-- TODO Add v-on:click -->
                    <button class="btn btn-primary mt-2" type="button" v-on:click="submit">Add record</button>
                </div>
                
            </div>
        </div>

        <div class="card">
            <h2 class="card-header">Activity Records</h2>

            <div class="card-body">

                <h3> {{ totalRecords }} <!-- TODO Display number of records --> records</h3>

                <div id="records">
                    <table class="table table-hover">
                        <tr>
                            <th>Date</th>
                            <th>How many hours?</th>
                            <th>Type</th>
                            <th>Media</th>
                            <th>Completed</th>
                            <th>Notes</th>
                        </tr>
                        <!-- TODO use v-for to create one table row for each activity record -->
                        <tr v-for="record in activityRecords" v-bind:class="{ guitarScales: types[0], guitarChords: types[1], guitarSweeps: types[2] }">
                            <td>{{ record.date | shortDate }}</td>
                            <td>{{ record.hours | decimalPlaces(2) }}</td>
                            <td>{{ record.type }}</td>
                            <td>{{ record.medium }}</td>
                            <td>{{ record.completed }}</td>
                            <td>{{ record.notes }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>


        <div class="card">
            <h2 class="card-header">Summary</h2>

            <div class="card-body">

                <!-- TODO add computed property to calculate the total hours -->
                <p>You have practiced a total of {{ totalHours }}<!-- TODO display total hours --> hours</p>

                <!-- Challenge question! Display a list of the total hours for each type.  -->
          
            </div>
        </div>

    </div>

    <script>

    //   TODO create new Vue app 
    
    let app = new Vue({
        el: "#app", // grab which element? The div of app
        data: {
            activity: 'Play Guitar',

            // This will work with v-model to work with form data
            dateString: '', 
            hours: 1,
            type: 'Sweep Picking', // If this is empty then nothing is selected 
            medium: '', // If traditional was here it would be displayed
            complete: false,
            note: '',

            // Array of activity records
            activityRecords: [],

            // Used to create choices - the option elements - for select elements
            types: ['Scales', 'Chords', 'Sweep Picking'],
            
            // Used to set the values, and the labels for the radio buttons
            media: {
                // The keys are stored in the activity record and will display the values 
                traditional: 'Traditional',
                digital: 'Digital'
            },

            // Store errors discovered during validation
            errors: []

        },
        filters: { 
            lowercase(text) { // Apply this filter to whatever you want to be lower case
                return text.toLowerCase() 
            },
            shortDate(date) { // Apply this filter to make the date simpler MM/DD/YYYY
                return new Intl.DateTimeFormat('en-US', { timeZone: 'UTC' }).format(date)
            },
            decimalPlaces: function(price, numberOfDecimalPlaces) { // Apply this filter to set how many decimal places a number has
                let formattedPrice = price.toFixed(numberOfDecimalPlaces) // JavaScript method called toFixed() that is called with numberOfDecimalPlaces
                return formattedPrice
            },
            limitCharacters: function() {

            }
        }, // Adding new attribute
        computed: { // Computed properties are like data, but can be calculated from other pieces of data
            totalRecords() {
                if (this.activityRecords.length == 1) {
                    return '1 record'
                } else {
                    return this.activityRecords.length + ' records'
                }
            },
            totalHours() {
                let total = 0
                this.activityRecords.forEach(record => {
                    total = total + record.hours
                })
                return total
            }
        },

        methods: {
            submit() {

                // Clear any errors in the errors Array in the beginning to assume there is no errors
                this.errors = []

                // Convert dateString into date object
                let date = new Date(this.dateString)

                // Dates need to be valid, and today or in the past
                // If any of these are true then error
                // Make sure date string exist, Invalid date is what the browser will set the value of a date input to if the date selected is somehow not a valid date
                // The last thing it checks is if the date is in the future
                if (!this.dateString || this.dateString == 'Invalid Date' || date > new Date() ) {
                    this.errors.push('Select a valid date, today, or in the past.')
                }

                if (this.hours <= 0 || this.hours > 24) {
                    this.errors.push('The number of hours must be greater than 0 and less than 24.')
                }

                // If not this.type...
                if (!this.type) {
                    this.errors.push('Select a type.')
                }

                if (!this.medium) {
                    this.errors.push('Select a media.')
                }

                if (this.complete == true ) {
                    complete = "Completed"
                } else {
                    complete = "Not Completed"
                }


                if (this.errors.length == 0) {
                    let record = {
                        date: date, // From above
                        hours: this.hours,
                        type: this.type,
                        medium: this.medium,
                        completed: this.complete,
                        notes: this.note
                    }

                    // Push what the user selected into the activityRecords array above
                    this.activityRecords.push(record)

                    this.activityRecords.sort(function(r1, r2) {
                        // getTime returns a time stamp
                        // Return negative value to order r1 before r2
                        // Return positive value to order r1 after r2
                        return r1.date.getTime() - r2.date.getTime()
                    })
                }
            }
        }
    })

    </script>

</body>

</html>