#records {
    /* Sets the max height of the records */
    max-height: 250px; 
    /* If the amount of records exceed the size, then user can scoll through it */
    overflow: scroll;
}

.guitarChords {
    background-color: lightgoldenrodyellow;
}

.guitarScales {
    background-color: lightgray;
}

.guitarSweeps {
    background-color: lightgreen;
}